# UCF file for FPU on Spartan 6 XC6LX16-CSG324

# Clock signal (100MHz)
NET "clk"                  LOC = "V10"  | IOSTANDARD = "LVCMOS33";
NET "clk" TNM_NET = "sys_clk_pin";
TIMESPEC "TS_sys_clk_pin" = PERIOD "sys_clk_pin" 10 ns HIGH 50%;

# Reset button
NET "rst"                  LOC = "B8"   | IOSTANDARD = "LVCMOS33" | PULLDOWN;

# Input buttons for operation selection
NET "button[0]"            LOC = "T10"   | IOSTANDARD = "LVCMOS33";  # Up button
NET "button[1]"            LOC = "T9"   | IOSTANDARD = "LVCMOS33";  # Down button
NET "button[2]"            LOC = "V9"   | IOSTANDARD = "LVCMOS33";  # Left button
NET "button[3]"            LOC = "M8"   | IOSTANDARD = "LVCMOS33";  # Right button

# 7-segment display connections
# Segment enables (active low)
NET "seg_sel[0]"           LOC = "P17"  | IOSTANDARD = "LVCMOS33";  # AN0
NET "seg_sel[1]"           LOC = "P18"  | IOSTANDARD = "LVCMOS33";  # AN1
NET "seg_sel[2]"           LOC = "N15"  | IOSTANDARD = "LVCMOS33";  # AN2
NET "seg_sel[3]"           LOC = "N16"  | IOSTANDARD = "LVCMOS33";  # AN3

# Segment data (active low)
NET "seg_data[0]"          LOC = "T17"  | IOSTANDARD = "LVCMOS33";  # CA
NET "seg_data[1]"          LOC = "T18"  | IOSTANDARD = "LVCMOS33";  # CB
NET "seg_data[2]"          LOC = "U17"  | IOSTANDARD = "LVCMOS33";  # CC
NET "seg_data[3]"          LOC = "U18"  | IOSTANDARD = "LVCMOS33";  # CD
NET "seg_data[4]"          LOC = "M14"  | IOSTANDARD = "LVCMOS33";  # CE
NET "seg_data[5]"          LOC = "N14"  | IOSTANDARD = "LVCMOS33";  # CF
NET "seg_data[6]"          LOC = "L14"  | IOSTANDARD = "LVCMOS33";  # CG
NET "seg_data[7]"          LOC = "M13"  | IOSTANDARD = "LVCMOS33";  # DP